name: Release GitHub Actions

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag for the release"
        required: true
      working_directory:
        description: "Working directories to run commands in (comma-separated, optional)"
        required: false
        type: string
        default: sources
      setup_node:
        description: "Whether node.js should be setup or not"
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  release:
    permissions:
      actions: read
      id-token: write
      contents: write

    uses: step-security/reusable-workflows/.github/workflows/actions_release.yaml@fix/gradle-actions
    with:
      tag: "${{ github.event.inputs.tag }}"
      working_directory: ${{github.event.inputs.working_directory}}
      setup_node: ${{ github.event.inputs.setup_node}}
