name: Yarn Audit Fix Run

on:
  workflow_dispatch:
    inputs:
      force:
        description: "Use --force flag for npm audit fix?"
        required: true
        type: boolean
      base_branch:
        description: "Specify a base branch"
        required: false
        default: "main"
      working_directory:
        description: "Working directories to run commands in (comma-separated, optional)"
        required: false
        type: string
        default: sources

  schedule:
    - cron: "0 0 * * 1"

jobs:
  audit-fix:
    uses: step-security/reusable-workflows/.github/workflows/audit_fix.yml@v1
    with:
      force: ${{ inputs.force || false }}
      base_branch: ${{ inputs.base_branch || 'main' }}
      working_directory: ${{github.event.inputs.working_directory || 'sources'}}

permissions:
  contents: write
  pull-requests: write
  packages: read
  issues: write
