name: CI-integ-test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - 'main'
    paths-ignore:
    - 'dist/**'

concurrency:
  group: integ-test
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  build-distribution:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout sources
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Build and upload distribution
      uses: ./.github/actions/build-dist

  caching-integ-tests:
    needs: build-distribution
    uses: ./.github/workflows/suite-integ-test-caching.yml
    with:
      skip-dist: false
    secrets: inherit

  other-integ-tests:
    permissions:
      contents: write
    needs: build-distribution
    uses: ./.github/workflows/suite-integ-test-other.yml
    with:
      skip-dist: false
    secrets: inherit
