name: CI-init-script-check

on:
  push:
    branches:
    - 'main'
    paths-ignore:
    - 'sources/dist/**'
  pull_request:
    paths:
      - '.github/workflows/ci-init-script-check.yml'
      - 'sources/src/resources/init-scripts/**'
      - 'sources/test/init-scripts/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-init-scripts:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout sources
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup Java
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      # Use a released version to avoid breakages
      uses: ./setup-gradle
      env:
        ALLOWED_GRADLE_WRAPPER_CHECKSUMS: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855 # Invalid wrapper jar used for testing
    - name: Run integration tests
      working-directory: sources/test/init-scripts
      run: ./gradlew check
